body{
  background-color: lime;
}
h1{
  color: white;
  font-size: 75px;
  font-family: monospace;
  text-align: center;
  text-shadow: 25px 25px 25px
  padding: 80px;
  background-image: url("slothcss.jpg");
  background-position: center;
}
ul{
  color: white
}
img{
display: block;
margin: auto;
width: 50%;
}
p{
  text-align: center;
  font-family:arial;
  font-size: 50px
}
footer{
  font-size: 30px;
  text-align: right;
}
